* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: white;
}

html,
body {
  height: 100%;
}

header {
  background-color: rgb(22, 22, 56);
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100px;
}

header p {
  cursor: pointer;
  font-size: 1.8rem;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
li {
  list-style: none;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 1.2rem;
}

.wrapper-class {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1764889289957-242fc538a90c');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1200px;
  background-color: black;
  margin: 0 auto;
}

.container p {
  font-size: 2.6rem;
  padding: 1.2rem;
}

footer {
  background-color: rgb(23, 44, 19);
  height: 5rem;
  margin-top: auto;
}

footer p {
  font-size: 2.6rem;
  text-align: center;
  line-height: 5rem;
}
